
.l-footer {
    background-color: #f8e1db;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding: 100px 50px;

    &__bloc {
        display: flex;
        justify-content: space-between;

        h4,
        h5 {
            font-family: 'Archivo Black', sans-serif;
            font-size: 18px;
            color: #3b3735;
            margin-bottom: 30px;
        }

        p,
        ul li a {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 26px;
            color: #3b3735;
        }

        .footer-info {
            width: 40%;
            ul{
             
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .footer-menu {
            width: 50%;
            display: flex;
            justify-content: space-between;

            ul {
                li {
                    a:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
    .copy-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}